body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

canvas {
    background: linear-gradient(#4facfe, #00f2fe);
    display: block;
    margin: auto;
    border: 2px solid white;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: darkgreen;
}
